<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.butuh.uang.bu.tuhu">

    <application
        android:name=".app.ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        android:usesCleartextTraffic="true">
        <!-- facebook begin -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="752991955496632" />
        <activity android:name="com.facebook.FacebookActivity" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider752991955496632"
            android:exported="true" />
        <!-- facebook end   -->
        <activity android:name=".activity.PrivacyActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.DownloadHistoryActivity" />
        <activity android:name=".activity.CollectionListActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.FAQActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 读外存（根据实际具体情况申请） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>